@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="bg-dark p-2 d-flex justify-content-end text-light">
            <ButtonComponent Caption="Sign in" Color="primary" IsBusyCaption="Loading" Icon="person-circle-outline"></ButtonComponent>
        </div>

        <article class="content px-4 text-light">
            @Body
        </article>
    </main>
</div>
